<h2 class="content-block">사용자</h2>

<div class="list-container">
  <div class="crud-buttons">
    <dx-text-box [(value)]="filter" class="search-bar" placeholder="ID로 조회" (onEnterKey)="search()">
    </dx-text-box>
    <dx-button
      class="crud-button"
      text="조회"
      (onClick)="search()"
    ></dx-button>
  </div>

  <dx-data-grid
    [dataSource]="users"
    [showBorders]="true"
    [remoteOperations]="true"
    [hoverStateEnabled]="true"
    [selectedRowKeys]="[]"
  >
    <dxi-column dataField="userId" dataType="string" caption="ID"></dxi-column>
    <dxi-column dataField="email" dataType="string" caption="Email" ></dxi-column>
    <dxi-column dataField="birth" dataType="date" caption="생년월일" [format]="{ type: 'yyyy-MM-dd' }"></dxi-column>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[5, 10, 20]"
      [showInfo]="true"
      [visible]="true"
    ></dxo-pager>
  </dx-data-grid>
</div>

