<h2 class="content-block">예매내역</h2>

<div class="list-container">
  <div class="crud-buttons">
    <dx-text-box [(value)]="filter" class="search-bar" placeholder="이름으로 조회" (onEnterKey)="search()">
    </dx-text-box>
    <dx-button
      class="crud-button"
      text="조회"
      (onClick)="search()"
    ></dx-button>
    <dx-button
      class="crud-button"
      text="생성"
      (onClick)="create()"
    ></dx-button>
    <dx-button
      class="crud-button"
      text="변경"
      [disabled]="!getSelectedBookingId()"
      (onClick)="update()"
    ></dx-button>
    <dx-button
      class="crud-button"
      text="삭제"
      [disabled]="!getSelectedBookingId()"
      (onClick)="delete()"
    ></dx-button>
  </div>

  <dx-data-grid
    [dataSource]="bookingList"
    [showBorders]="true"
    [remoteOperations]="true"
    [hoverStateEnabled]="true"
    [selectedRowKeys]="[]"
  >
    <dxi-column dataField="bookingId" dataType="number" caption="예약번호" [width]="100"></dxi-column>
    <dxi-column dataField="movieName" dataType="string" caption="영화제목" [customizeText]="displayCinema" [width]="100"></dxi-column>
    <dxi-column dataField="cinema" dataType="string" caption="영화관" [customizeText]="displayCinema" [width]="100"></dxi-column>
    <dxi-column dataField="showTime" dataType="date" caption="상영시간" [format]="{ type: 'yyyy-MM-dd HH:mm' }"></dxi-column>
    <dxi-column dataField="bookingTime" dataType="date" caption="예매시간" [format]="{ type: 'yyyy-MM-dd HH:MM:ss' }"></dxi-column>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[5, 10, 20]"
      [showInfo]="true"
      [visible]="true"
    ></dxo-pager>
  </dx-data-grid>
</div>

<bookingList-edit-popup (onSaved)="onSaved($event)"></bookingList-edit-popup>
