<dx-popup
  [width]="500"
  [height]="460"
  [showTitle]="true"
  [title]="isCreateMode() ? '예매 생성' : '예매 변경'"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [showCloseButton]="true"
  container=".dx-viewport"
  [(visible)]="popupVisible"
>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [options]="{text: '저장', onClick: save}"
  >
  </dxi-toolbar-item>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [options]="{text: '취소', onClick: cancel}"
  >
  </dxi-toolbar-item>
  <div class="popup-edit-form" *dxTemplate="let data of 'content'">
    <dx-validation-group>
      <div class="dx-fieldset">
        <div class="dx-fieldset-header">예매정보</div>

        <div class="dx-field" *ngIf="isCreateMode()">
          <div class="dx-field-label">ID</div>
          <dx-text-box class="dx-field-value" [(value)]="booking.user.userId">
            <dx-validator>
              <dxi-validation-rule type="required" message="ID를 입력하세요."></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>

        <div class="dx-field" *ngIf="isCreateMode()">
          <div class="dx-field-label">영화</div>
          <dx-select-box class="dx-field-value"
                         name="movieId" [(value)]="booking.movie.movieId"
                         [items]="movieId" [searchEnabled]="true" valueExpr="code" displayExpr="text"
          ></dx-select-box>
        </div>

        <div class="dx-field" *ngIf="isUpdateMode()">
          <div class="dx-field-label">예매번호</div>
          <div class="dx-field-value-static">{{booking.bookingId}}</div>
        </div>

        <div class="dx-field" *ngIf="isUpdateMode()">
          <div class="dx-field-label">영화</div>
          <div class="dx-field-value-static">{{booking.movie.movieName}}</div>
        </div>

        <div class="dx-field">
          <div class="dx-field-label">상영관</div>
          <dx-select-box class="dx-field-value"
                         name="cinema" [(value)]="booking.cinema"
                         [items]="cinema" [searchEnabled]="true" valueExpr="code" displayExpr="text"
          ></dx-select-box>
        </div>

        <div class="dx-field">
          <div class="dx-field-label">인원</div>
          <dx-select-box class="dx-field-value"
                         name="persons" [(value)]="booking.persons"
                         [items]="persons" [searchEnabled]="true" valueExpr="code" displayExpr="text"
          ></dx-select-box>
        </div>

        <div class="dx-field">
          <div class="dx-field-label">상영시간</div>
          <dx-date-box class="dx-field-value" [(value)]="booking.showTime"
                       displayFormat="yyyy-MM-dd HH:mm" invalidDateMessage="날짜를 올바른 형식으로 입력하세요: yyyy-MM-dd HH:mm">
            <dx-validator>
            </dx-validator>
          </dx-date-box>
        </div>

        <dx-validation-summary></dx-validation-summary>

      </div>
    </dx-validation-group>
  </div>

</dx-popup>
